<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>
            .container { margin: 1em auto; min-width: 638px; max-width: 992px; width: 95%; font: 18px/1.5 sans-serif; }
            .container code { background: #F5F5F5; padding: 2px 6px; }
        </style>
    </head>
    <body>
        <nav class="container navbar navbar-expand-lg navbar-light bg-light px-1">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbar-collapsable">
                    {% if is_granted('ROLE_USER') %}
                        <div class="dropdown">
                            <button
                                class="dropdown-toggle btn"
                                type="button"
                                id="user-dropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            > <img src="{{ app.user.avatarUri }}" alt="{{ app.user.displayName }} Avatar">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </nav>


        <div class="container">
            <div class="row">
                <div class="col"><h2><a href="{{ path('app_homepage') }}">Hello~~</a></h2></div>
                <div class="col text-end">
                    {% if is_granted('ROLE_USER') %}
                        <small>{% if not is_granted('IS_AUTHENTICATED_FULLY') %}<small>~ </small>{% endif %}User: <strong>{{ app.user.displayName }}</strong></small>
                        &nbsp<a href="{{ path('app_logout') }}" class="btn btn-light">Logout</a>
                    {% else %}
                        {% if app.request.pathinfo != path('app_login') %}
                            <a href="{{ path('app_login') }}" class="btn btn-primary">Log In</a>
                            <a href="#" class="btn btn-light">Sign up</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            
            <p class="border-top border-light" style="margin-top: 10px;"></p>

            {% if app.flashes('success') is not null and app.flashes('success') is not empty %}
            <div class="mb-5">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
